<%- include('./partials/nav-admin'); %>
<div class="container container__main">
  <main class="main">
    <nav class="nav__header">
      <a class="active" href="/admin">Links</a>
      <a href="/admin/appearance">Appearance</a>
      <a href="#">Settings</a>
      <a href="#">PRO</a>
    </nav>
    <section class="section__analytics">
      <span class="span__bold">Lifetime Analytics:</span>
    </section>
    <section class="section__links">
      <button
        class="btn button button--newLink"
        id="btn-newLink"
        onclick="showFormLink()"
      >
        Add New Link
      </button>
      <% if (links.length == 0) {%>
      <div id="nolinks">
        <p>You don't have any links to display.</p>
        <p>Click the button above to add one.</p>
      </div>
      <% } %>
      <div id="section__links--new-links">
        <% for (link of links) { %>
        <div class="form__container" id="form<%= link.id %>">
          <img class="form__svg" src="/svg/ellipsis.svg" />
          <div>
            <form class="form__link" action="/admin" method="POST">
              <input
                type="text"
                id="title"
                name="title"
                placeholder="Title"
                value="<%= link.nome %>"
              /><input
                type="text"
                id="url"
                name="url"
                placeholder="URL"
                value="<%= link.url %>"
              />

              <!-- REMOVIDO SE O LINK ESTÁ CADASTRADO NO BD -->
              <% if (!link) { %>
              <button class="btn btn__add" type="submit">Add</button>
              <% } %>
            </form>

            <!-- SETADO SOMENTE SE EXISTIR UM LINK CADASTRADO PARA O USUÁRIO -->
            <% if (link) { %>
            <form action="/admin/delete" method="POST">
              <input type="hidden" name="link_id" value="<%= link.id %>" />
              <button type="submit">
                <img
                  class="form__svg btn trash"
                  id=""
                  onclick="removeLink('<%= link.id %>')"
                  src="/svg/trash.svg"
                />
              </button>
            </form>
            <% } %>
          </div>
        </div>

        <% } %>
      </div>
    </section>
    <%- include('./partials/footer-admin') %>
  </main>
</div>
