<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="icon"
      href="https://d1nnwinjc04txl.cloudfront.net/favicon-32x32.png?v=530918d2c86b9dd11c4fde40fa99d1b4"
      type="image/png"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <h1>Control Users</h1>
      <!-- <button
        type="button"
        class="btn blue mobile"
        id="cadastrarCliente"
        onclick="openModal()"
      >
        New User
      </button> -->
      <table class="records">
        <thead>
          <tr>
            <th id="id">ID</th>
            <th id="name">Name</th>
            <th id="email">Email</th>
            <th id="admin">Admin</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (usuario of usuarios) { %>
          <tr id="line-user-<%= usuario.id %>">
            <td id="id-user<%= usuario.id %>"><%= usuario.id %></td>
            <td id="name-user<%= usuario.id %>"><%= usuario.nome %></td>
            <td id="email-user<%= usuario.id %>"><%= usuario.email %></td>
            <td id="admin-user<%= usuario.id %>">
              <input type="hidden" name="" value="<%= usuario.admin %>" />
              <input type="checkbox" name="" id="" disabled />
            </td>

            <td>
              <button
                id="btn-edit-user<%= usuario.id %>"
                type="button"
                id="edit"
                class="btn green"
                onclick="openModal('<%= usuario.id %>')"
              >
                edit
              </button>
              <form action="/dashboard/delete/<%= usuario.id %>" method="POST">
                <input
                  type="hidden"
                  name="delete-user-<%= usuario.id%>"
                  value="<%= usuario.id%>"s
                />
                <button
                  id="btn-delete-user<%= usuario.id %>"
                  type="submit"
                  id="delete"
                  class="btn red"
                  <% if(usuario.admin == 1){ %>
                    disabled
                  <%}%>  
                >
                  delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      
    </main>
    <footer>
      <img src="/svg/linktree-logo.svg" alt="Linktree Logo" />
    </footer>
    <script type="text/javascript" src="/scripts/dashboard-script.js"></script>
  </body>
</html>
